<div class="navbar">
    <div class="navbar-left">
        <a href="/">Link3DS</a>
    </div>
    <div class="navbar-right">
        <a href="/">Home</a>
        <a href="/progress">Progress</a>
        <a href="/faq">FAQ</a>
    </div>
</div>