<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<% if (title) { %>
	<meta name="title" content="<%= title %>">
	<meta name="og:title" content="<%= title %>">
	<title><%= title %></title>
	<% } else { %>
	<meta name="title" content="Link3DS">
	<meta name="og:title" content="Link3DS">
	<title>Link3DS</title>
	<% } %>

	<meta name="description" content="Reaction of Online Service for Nintendo Wii U & Nintendo 3DS.">
	<meta name="og:description" content="Reaction of Online Service for Nintendo Wii U & Nintendo 3DS.">

	<meta name="og:type" content="website">
	<meta name="theme-color" content="#101010">
	<meta name="keywords" content="link3ds">

	<link rel="shortcut icon" href="" type="image/x-icon">

	<link rel="stylesheet" href="/css/index.css">
	<script src="/js/script.js"></script>
</head>