<%- include('partials/header.ejs', {
    title: 'Link3DS - FAQ'
}) -%>

<body>
    <%- include('partials/bar.ejs') %>

    <div class="main-content">
        <div class="faq-container">
            <h1>FAQ</h1>
            <br>

            <div class="faq-item">
                <div class="faq-question">Do you have to hack your console to use it?</div>
                <div class="faq-answer">
                    <p>Yes, you have to hack your console to use it. But we will see if it is possible to create a Proxy/DNS to use it without hacking.</p>
                </div>
            </div>

            <div class="faq-item">
                <div class="faq-question">Is there a subscription to Link3DS?</div>
                <div class="faq-answer">
                    <p>No, Link3DS is completely free and open to all. We believe in free access to information and resources. However, you can send donations to support the project if you wish.</p>
                </div>
            </div>

            <div class="faq-item">
                <div class="faq-question">Is it compatible with all 3DS models?</div>
                <div class="faq-answer">
                    <p>Yes, Link3DS aims to be compatible with all models of the Nintendo 3DS family. However, support may vary depending on the firmware version.</p>
                </div>
            </div>

        </div>
    </div>
</body>

<%- include('partials/footer.ejs') %>