<%- include('partials/header.ejs', {
    title : `Link3DS - Register`
}) -%>

<body>
    <%- include('partials/bar.ejs') %>

    <div class="main-content">
        <h1>Register</h1>
        <div class="login-content">
            <form action="/account/register" method="POST">
                <br><br><br><br><br><br><br>
                <div class="login-card">
                    <label for="email">Email :</label>
                    <input type="text" id="email" name="email" required class="form-control">
                    <label for="username">Username :</label>
                    <input type="text" id="username" name="username" required class="form-control">
                    <label for="miiname">Mii Name :</label>
                    <input type="text" id="miiname" name="miiname" required class="form-control">
                    <label for="password">Password :</label>
                    <input type="password" id="password" name="password" required class="form-control">
                    <% if (errorMessage) { %>
                        <div class="error-message">
                            <p><%= errorMessage %></p>
                        </div>
                    <% } %>
                    <button type="submit">Register</button>
                    <p>Already have an account? <a href="/account/login">Login</a></p>
                </div>
            </form>
        </div>
    </div>
</body>